.user-questions {
  margin-bottom: 20px;
}

.output {
  width: 100%;
}

.col-xs-6 {
  width: 45%;
}

.computer-output {
  margin-left: 10%;
}

.computer-output h3 {
  padding-left: 5px;
}

.btn {
  font-size: 14pt;
}

body {
  background-color: skyblue;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36pt;
}

h3 {
  text-align: left;
  border-bottom: solid 5px skyblue;
  border-left: solid 5px skyblue;
  margin-bottom: 20px;
  font-size: 30pt;
  font-weight: 400;
  font-style: italic;
  font-family: lobster, arial;
}

li {
  list-style: none;
  border: solid 5px skyblue;
  padding: 10px;
  font-size: 16pt;
  margin-left: -50px;
  background-color: #D1D7E3;
}

#computer-guy {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-right: 35px;
}
